<div class="import-export mb-4 row gap-2 gap-md-0 align-items-center">
    <app-button appearance="primary-grayscale" (action)="exportToExcelInBackEnd()" class="col-12 col-md-4">
        <tui-loader size="l" [showLoader]="isExporting()">
            <span [class.hide-opacity]="isExporting()">Export excel</span>
        </tui-loader>
    </app-button>
    <div class="col-12 col-md-8">
        <div class="d-flex flex-column flex-md-row justify-content-md-end align-items-md-center gap-2 gap-md-4">
            <div class="d-flex justify-content-md-end">
                <app-input-file></app-input-file>
            </div>
            <div class=" d-flex align-items-center">
                <app-button appearance="outline-destructive" (action)="exportTemplate()">
                    Template
                </app-button>
            </div>
        </div>
    </div>
</div>
<hr>
<app-component-status-box [selectedComponents]="selectedComponents()"
    (isUpdatable)="updateComponentsStatus($event)"></app-component-status-box>
<div class="component-table">
    <ag-grid-angular style="height: 100%;" [defaultColDef]="defaultColDef" [columnDefs]="colDefs"
        [rowModelType]="'infinite'" [cacheBlockSize]="paginationPageSize()" [pagination]="true"
        [paginationPageSize]="paginationPageSize()" [paginationPageSizeSelector]="paginationPageSizeSelector"
        [autoSizeStrategy]="autoSizeStrategy" [rowSelection]="rowSelection" [selectionColumnDef]="selectionColumnDef"
        (gridReady)="onGridReady($event)" (rowSelected)="onRowSelected($event)"
        (cellValueChanged)="onCellValueChanged($event)"></ag-grid-angular>
</div>