.auth-container {
    background-color: var(--tui-background-accent-1);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 30px;
    border-radius: 10px;
}

.blur {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

.btn-login-text {
    width: 10rem;
}

@media screen and (min-width: 768px) {
    .login-form {
        width: 40%;
    }
}