<section class="container component-dashboard">
    <div class="dashboard-content bg-white p-4 rounded-3">
        <div class="dashboard-header row align-items-center">
            <div class="col-12 col-md-6">
                <h2 class="tui-text_h5 text-negative">Components</h2>
            </div>
            <div class="col-12 col-md-6 text-md-end">
                <app-button appearance="positive">New</app-button>
            </div>
        </div>
        <div class="box-filter">
            <app-component-filter (searchTrigger)="search($event)"></app-component-filter>
        </div>
    </div>
</section>