/* You can add global styles to this file, and also import other style files */

:root {
    --tui-font-text-s: 14px;
}

.tui-text_body-s {
    font-size: var(--tui-font-text-s);
}

.text-white {
    color: var(--tui-text-primary) !important;
}

.text-negative {
    color: var(--tui-text-negative) !important;
}

.bg-neutral-2 {
    background-color: var(--tui-background-neutral-2);
}

tui-alert {
    max-width: 400px !important;
    width: 100% !important;
}

.success-message {
    color: var(--tui-text-positive);
    font-weight: bold;
    font-size: 14px;
}

.error-message {
    color: var(--tui-text-negative);
    font-weight: bold;
    font-size: 14px;
}

[tuiForm]>fieldset.switch-container-right {
    grid-auto-columns: max-content;
    justify-content: end;
}

.hide-opacity {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.tui-text-info {
    color: var(--tui-status-info);
}